@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400;1,700&display=swap');
:root{
    --yellow-color:#FFC800;
    --light-color:#F8F9FA;
    --section-margin:70px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.main-title{
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: rgb(138, 138, 138);
}
header{
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
header .navbar{
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 1111;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
}
@media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }
@media (max-width: 998px) {
    .navbar{
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}
header .navbar-nav .nav-item a{
    font-size: 1rem;
}
header .header-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 97%;
}
header .header-info h1{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.5;
}
header .header-info h1 span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 4rem;
}
header .header-info a{
  padding: 0.975rem 1.75rem;
  font-size: 1.2rem;
}
header .header-info a:hover{
  background-color: #d9aa00;
}
/* //////////////////////////// */
.services{
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}
/* //////////////////////// */
.album .container .row .col .card .img img{
  width: 100%;
}
.album .container .row .col .card .img{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.album .container .row .col .card .img::after{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\2b';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  color: #fff;
  font-size: 4.5rem;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 23;
}
.album .container .row .col .card .img::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc107;
  z-index: 22;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.album .container .row .col .card .img:hover::before{
  opacity: .9;
}
.album .container .row .col .card .img:hover::after{
  opacity: 1;
}